
<div class="bg-white leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900">
  <div id="__next" class="h-full">
    <div class="bg-[url('assets/16693-NQRDTC.jpg')]  mx-auto min-h-screen px-6 py-12 font-sans md:px-20 md:py-16 lg:py-0">
      <div class="h-full lg:flex lg:justify-between ">
        <div class="bg-green-950/80 sticky lg:top-0 lg:flex items-center lg:max-h-screen lg:w-[30%] lg:flex-col lg:justify-between lg:py-24">
          <app-sidebar (huellaCalculada)="onHuellaCalculada($event)" class="pl-20 pr-20 w-3/3 p flex justify-around"></app-sidebar>
        </div>
        <main id="content" class="bg-white/90 pt-16 items-center lg:w-[70%] lg:py-24 flex flex-col">
          <div *ngIf="huellaTotal === 0" class="flex flex-col items-center justify-center h-full w-3/6">
            <div class="flex flex-col items-center justify-center text-black text-lg h-40 mb-40">
              <h1 class="text-9xl font-bold mb-10">CO₂ Print</h1>
              <h3 class="text-3xl mt-5 text-center">Calcula tu huella de CO₂  
                generada en tus desplazamientos según el tipo de medio de transporte.
              </h3>
            </div>
            <div class="flex flex-col items-center justify-center text-gray-900 text-2xl">
              <p>🔍 Aún no has calculado tu huella de carbono.</p>
              <p class="text-sm mt-2">Completa el formulario para ver los resultados.</p>
            </div>
          </div>

          <div *ngIf="huellaTotal > 0"class="flex-1 w-5/6 justify-center items-baseline">
            <app-impacto [huellaTotal]="huellaTotal"></app-impacto>
            <app-alternativas [huellaTotal]="huellaTotal"></app-alternativas>
            <p class="text-xs text-gray-900 italic">
              * Datos basados en estimaciones promedio de EPA, Carbon Trust, y fuentes científicas.
            </p>            
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
