<h1 class="text-xl font-bold text-teal-900 mb-2" >Equivalencias para una huella de {{huellaTotal}} Kg de CO₂:</h1>
<hr class="h-1 bg-green-600 w-3/4 mb-10">
<ul class="lg:flex lg:gap-8 space-x-3 ml-10">
    <li class="w-72 mb-12 px-3">
        <div class="group relative pb-1 transition-all lg:hover:!opacity-100 lg:group-hover/list:opacity-50 ">   
            <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:text-white lg:group-hover:drop-shadow-lg lg:group-hover:border-4 lg:group-hover:border-green-600">
            </div>
            <div class="lg:flex items-end lg:gap-2 space-x-4">
                <img class="w-20" src="../../../assets/lavadora.png">
                <h2 class="text-teal-950"><b>{{ getImpactoById('lavadora')?.titulo }} {{ calcularCantidad('lavadora') | number: '1.0-0' }} {{ getImpactoById('lavadora')?.unidad }}</b></h2>
            </div>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                <li class="mr-1.5 mt-2">
                    <p class="text-base font-medium leading-5 text-green-800">
                        {{ getImpactoById('lavadora')?.descripcion }}
                    </p>
                </li>
            </ul>
        </div>
    </li>
    <li class="w-72 mb-12 px-3">
        <div class="group relative pb-1 transition-all lg:hover:!opacity-100 lg:group-hover/list:opacity-50 ">   
            <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:text-white lg:group-hover:drop-shadow-lg lg:group-hover:border-4 lg:group-hover:border-green-600">
            </div>
            <div class="lg:flex items-end lg:gap-2 space-x-4">
                <img class="w-20" src="../../../assets/electricidad.png">
                <h2 class="text-teal-950"><b>{{ getImpactoById('electricidad')?.titulo }} {{ calcularCantidad('electricidad') | number: '1.0-0' }} {{ getImpactoById('electricidad')?.unidad }}</b></h2>
            </div>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                <li class="mr-1.5 mt-2">
                    <p class="text-base font-medium leading-5 text-green-800">
                        {{ getImpactoById('electricidad')?.descripcion }}
                    </p>
                </li>
            </ul>
        </div>
    </li>
    <li class="w-72 mb-12 px-3">
        <div class="group relative pb-1 transition-all lg:hover:!opacity-100 lg:group-hover/list:opacity-50 ">   
            <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:text-white lg:group-hover:drop-shadow-lg lg:group-hover:border-4 lg:group-hover:border-green-600">
            </div>
            <div class="lg:flex items-end lg:gap-2 space-x-4">
                <img class="w-20" src="../../../assets/fresh-red-meat-file-free-png.webp">
                <h2 class="text-teal-950"><b>{{ getImpactoById('carne')?.titulo }}{{ calcularCantidad('carne') | number: '1.0-0' }} {{ getImpactoById('carne')?.unidad }}</b></h2>
            </div>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                <li class="mr-1.5 mt-2">
                    <p class="text-base font-medium leading-5 text-green-800">
                        {{ getImpactoById('carne')?.descripcion }}
                    </p>
                </li>
            </ul>
        </div>
    </li>
</ul>
<ul class="lg:flex lg:gap-8 space-x-3 ml-10">
    <li class="w-72 mb-12 px-3">
        <div class="group relative pb-1 transition-all lg:hover:!opacity-100 lg:group-hover/list:opacity-50 ">   
            <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:text-white lg:group-hover:drop-shadow-lg lg:group-hover:border-4 lg:group-hover:border-green-600">
            </div>
            <div class="lg:flex items-end lg:gap-2 space-x-4">
                <img class="w-20" src="../../../assets/botellas-plastico.png">
                <h2 class="text-teal-950"><b>{{ getImpactoById('botellas')?.titulo }} {{ calcularCantidad('botellas') | number: '1.0-0' }} {{ getImpactoById('botellas')?.unidad }}</b></h2>
            </div>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                <li class="mr-1.5 mt-2">
                    <p class="text-base font-medium leading-5 text-green-800">
                        {{ getImpactoById('botellas')?.descripcion }}
                    </p>
                </li>
            </ul>
        </div>
    </li>
    <li class="w-72 mb-12 px-3">
        <div class="group relative pb-1 transition-all lg:hover:!opacity-100 lg:group-hover/list:opacity-50 ">   
            <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:text-white lg:group-hover:drop-shadow-lg lg:group-hover:border-4 lg:group-hover:border-green-600">
            </div>
            <div class="lg:flex items-end lg:gap-2 space-x-4">
                <img class="w-20" src="../../../assets/mail.png">
                <h2 class="text-teal-950"><b>{{ getImpactoById('emails')?.titulo }} {{ calcularCantidad('emails') | number: '1.0-0' }} {{ getImpactoById('emails')?.unidad }}</b></h2>
            </div>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                <li class="mr-1.5 mt-2">
                    <p class="text-base font-medium leading-5 text-green-800">
                        {{ getImpactoById('emails')?.descripcion }}
                    </p>
                </li>
            </ul>
        </div>
    </li>
    <li class="w-72 mb-12 px-3">
        <div class="group relative pb-1 transition-all lg:hover:!opacity-100 lg:group-hover/list:opacity-50 ">   
            <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:text-white lg:group-hover:drop-shadow-lg lg:group-hover:border-4 lg:group-hover:border-green-600">
            </div>
            <div class="lg:flex items-end lg:gap-2 space-x-4">
                <img class="w-20" src="../../../assets/papel.png">
                <h2 class="text-teal-950"><b>{{ getImpactoById('papel')?.titulo }} {{ calcularCantidad('papel') | number: '1.0-0' }} {{ getImpactoById('papel')?.unidad }}</b></h2>
            </div>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                <li class="mr-1.5 mt-2">
                    <p class="text-base font-medium leading-5 text-green-800">
                        {{ getImpactoById('papel')?.descripcion }}
                    </p>
                </li>
            </ul>
        </div>
    </li>
</ul>